services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: homie-backend
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
    environment:
      - SPRING_DEVTOOLS_RESTART_ENABLED=true